{% extends "base.html" %}
{% block content %}


<h2 style="margin-top:0;">Latest Blocks</h2>
<div class="table-scroll">
  <table>
    <thead>
      <tr>
        <th>Height</th>
        <th>Hash</th>
        <th>Time</th>
        <th>Tx</th>
        <th>Size (bytes)</th>
      </tr>
    </thead>
    <tbody>
      {% for block in blocks %}
      <tr>
        <td><a href="{{ url_for('block_by_height', height=block.height) }}">{{ block.height }}</a></td>
        <td class="hash"><a href="{{ url_for('block_detail', block_hash=block.hash) }}">{{ block.hash }}</a></td>
        <td>{{ block.age }}</td>
        <td>{{ block.nTx }}</td>
        <td>{{ "{:,}".format(block.size) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
